<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <globalization
         fileEncoding="utf-8"
         requestEncoding="utf-8"
         responseEncoding="utf-8"
         culture="es-MX"
         uiCulture="es-MX"
        />
  </system.web>

  <appSettings>


    <!--Prod-->
    <!--<add key="ConectionString" value="W0bDUudyyICLTYyOGVesCtcKxAm8YUsKGRbhImvpo4oHc4b434+YctXYPByNvqwJghVkS4p9lHgnzmXcxx+RaYNCVTgZYPUcNevkl5X3Z5I="/>
     -->
    <!--<add key="ConectionString" value="dBd8qybGpsJ45bO9RbgiqYpFSzcYRir1f1TBUyw8lyDAQLbNwgAjQGsi87VKni5us2Jo7ZTw9QOizSjkCPnCvakIsYE0xvub4XWXipVKdPm/vOYO1qFB8Q=="/>-->
    <!--Desa-->
    <add key="ConectionString" value="dBd8qybGpsJs/eICeUDFSd+3r6zimV8XFt+19zNsPC8CRpNEUg3BrGIU2nf7HNQfF83ELHnfandd7RFUGSAgbzxtaV/R4Sy9d/eo31Dq8M0="/>
    <!--QA-->
    <!--<add key="ConectionString" value="dBd8qybGpsJOsDqwmLGTNCvvnO/cAhfQ4cnm0RG3ja+Bn+jg8mp9h4GvU/3B7SvnXOrjV7mEiXDym8Og6jHf/eXakuWhisish0Rn3QdlR4OEUOzB7MzYPw==" />-->

    <add key="archivo_log_ruta"                     value="C:\inetpub\wwwroot\Log\"/>
    <add key="archivo_log_nombre"                   value="FS.log"/>
 

  </appSettings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
                openTimeout="10:25:00"
                closeTimeout="10:25:00"
                sendTimeout="10:25:00"
                receiveTimeout="10:25:00">
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <!--50MB-->
      </requestFiltering>
    </security>
  </system.webServer>



</configuration>

